[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = git@github.com:sahil87/hugo-nuo.git
[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = git@github.com:sahil87/hugo-future-imperfect.git
