[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = https://github.com/sahil87/hugo-nuo
[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = https://github.com/sahil87/hugo-future-imperfect
